.login {
  position: relative;
  .icon-close {
    position: absolute;
    top: -20px;
    right: -16px;
    font-weight: map-get($font-weight, bold);
    font-size: 20px;
    cursor: pointer;
    &:hover {
      color: map-get($color, primary);
    }
  }
  &-title {
    color: map-get($color, primary);
    font-weight: map-get($font-weight, light-bold);
    margin-bottom: 30px;
  }
  &-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  &-label {
    color: map-get($color, secondary);
    font-weight: map-get($font-weight, light-bold);
    margin-bottom: 10px;
  }
  &-input {
    position: relative;
    margin-bottom: 18px;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: map-get($color, loader-background-color);
    font-size: 17px;
    &::placeholder {
      color: map-get($color, grey);
    }
  }
  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .remember-wrapper {
      display: flex;
      align-items: center;
      .remember-check {
        cursor: pointer;
      }
      input[type='checkbox']:checked {
        accent-color: map-get($color, primary);
        background-color: map-get($color, primary);
      }
    }
    .forgot-pw-link {
      color: map-get($color, primary);
    }
  }

  .err-text {
    color: map-get($color, red);
    font-weight: map-get($font-weight, light-bold);
    font-size: 15px;
    margin-bottom: 15px;
  }
}
