.cart-page {
  padding: 20px 0;
  .table .product-image {
    width: 100px;
    height: 100px;
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cart-total-price {
    display: inline-block;
    padding-top: 30px;
  }
  .product-quantity {
    margin: 0 5px;
  }

  .btn-plus,
  .btn-minus,
  .btn-delete {
    cursor: pointer;
    background-color: map-get($color, primary);
    color: map-get($color, white);
    border: none;
    outline: none;
    border-radius: 6px;
    &:hover {
      background-color: map-get($color, primary-hover);
    }
  }
  .btn-plus,
  .btn-minus {
    width: 20px;
    height: 20px;
  }

  .btn-delete {
    padding: 10px 20px;
  }
  .product-total {
    width: 80px;
  }
  .sold-out-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
  }

  .sold-out-image {
    width: 200px;
    height: 200px;
  }
  .cart-total-price {
    font-size: 20px;
  }
  .back-link {
    color: map-get($color, secondary);
    font-weight: map-get($font-weight, bold);
    display: inline-block;
    margin-bottom: 12px;
    font-size: 18px;
    &:hover {
      color: map-get($color, primary);
    }
  }
  .checkout {
    padding: 20px;
    &-title {
      color: map-get($color, primary);
      font-weight: map-get($font-weight, bold);
      text-align: center;
    }
  }
}
